/**********************************************************************************************************************
 FONDO DE PANTALLA
 **********************************************************************************************************************/
#Fondo{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:-1;
}

/**********************************************************************************************************************
 TITULO 1
 **********************************************************************************************************************/
h1 {
    text-align: center;
    font-size: 400%;
    text-transform: uppercase;
    font-family: courier, sans-serif
}

/**********************************************************************************************************************
 TITULO 2
 **********************************************************************************************************************/
h2 {
    text-align: center;
    font-family: courier, sans-serif;
    font-size: 150%;
}

/**********************************************************************************************************************
 BOTONES
 **********************************************************************************************************************/
button {
    text-align: center;
    font-size: 100%;
    width:150px;
    height:30px;
}

/**********************************************************************************************************************
 DIVISIONES
 **********************************************************************************************************************/
div {
    margin: 0 auto;
    padding:5px;
}

/*Clase de <div> para crear la barra estatica inferior*/
div.BarraInferior{
    position:fixed;
    background: rgba(255, 255, 255, 0.6);
    left:0;
    bottom:0;
    width: 100%;
}

/**********************************************************************************************************************
 TEXTO
 **********************************************************************************************************************/
p {
    font-family: courier, sans-serif;
}

/*Clase de <p> para centrar el texto en c*/
p.Center {
    text-align: center;
}

p.Bloque {
    visibility: visible;
}

/**********************************************************************************************************************
 TABLAS
 **********************************************************************************************************************/
table {
    text-align: center;
}

td.fondo {
    background: rgba(255, 255, 255, 0.6);
}

/**********************************************************************************************************************
 AREAS DE TEXTO
 **********************************************************************************************************************/
textarea {
    resize: none;
    width: 99%;
}