/*TITULO 1*************************************************************************************************************/
h1 {
    text-align: center;
    font-size: 400%;
    text-transform: uppercase;
    font-family: courier, sans-serif
}

/*TITULO 2*************************************************************************************************************/
h2 {
    text-align: center;
    font-family: courier, sans-serif;
    font-size: 150%;
}

/*BOTONES**************************************************************************************************************/
button {
    text-align: center;
    font-size: 100%;
    width:130px;
    height:30px;
}

/*DIVISIONES***********************************************************************************************************/
div {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    padding:5px;
}

/*TEXTO****************************************************************************************************************/
p {
    font-family: courier, sans-serif
}

p.Center {
    text-align: center;
}

/*TABLAS***************************************************************************************************************/
table {
    text-align: center;
}